body {
	font-size: 14px;
	font-family: Helvetica;
	font-style: normal;
	background: url(../images/diagonal-noise.png) repeat;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    background: #f5f5f5;
    padding: 20px;
}

h1 {
	//color: #fff;
    border-radius: 3px;
    //background: #006699;
    font-size: 22px;
    margin-top: 20px;
	margin-bottom: 10px;
}
.wrapper h2 { background: #9ADDFF; color: #444;}
.top-menu h2 { background: #006699; color: #FFF; }
input, select {
    width: 285px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
}
input[type=submit], button[type=submit], input[type=button] {
    border: none;
    padding: 6px 14px;
    font-weight: bold;
    color: #000;
    background: #b0bb66;
    border-radius: 3px;
    width: auto;
	margin: 10px 0;
}
input[type=submit]:hover, button[type=submit]:hover, input[type=button]:hover {
    //background: #3399cc;
    cursor: pointer;
}
select {
    width: auto;
	min-width: 200px;
}
.input-small {
    width: 140px;
}
label {
    display: inline-block;
    width: 225px;
}
.text-bold {
    font-weight: bold;
}

#ui-datepicker-div {
    font-size: 14px;
}

.menu {
    background: #006699;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
.menu:hover{
    background: #3399cc;
}
form {
    clear: both;
}

table {
    border: 1px solid #aaa;
	border-spacing: 0px;
}
table td {
    padding: 5px 15px;
    border: none;
    background: #ddd;
}
td.table-title {
    font-weight: bold;
}

div.wrapper.title {
	background: #058095;
	color: #fff;
	font-size: 17px;
}

.title h1 a {
	text-decoration: none !important;
	color: #fff;
	font-size: 32px;
	margin: 10px 0;
}

div.left-sidebar {
	float: left;
	width: 25%;
	margin-right: 20px;
	clear: both;
}
input#searchCourse {
	width: 52%;
}
div.course-info {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 10px;
}

div.search-unit {
	background: #e5e5e5;
	padding: 15px 10px;
	border-radius: 5px;
	border: 2px solid #ddd;
}
.left-sidebar table {
	width: 100%;
	border-spacing: 1px;
}

.right td.drop{
	background:#eee;
	width: 145px;
	padding: 0px;
	height: 68px;
}
.right td.core {
	width: 145px;
	padding: 0px;
	height: 68px;
	background: #D1F1F5;
}
.right td.over{
	background:#FBEC88;
}
.item{
	text-align:center;
	/*border:1px solid #ccc;*/
	background:#fafafa;
	color:#444;
	width:135px;
	min-height: 51px;
	height: auto;
	padding: 8px 5px;
}
.assigned{
	/*border:1px solid #499B33;*/
	min-height: 48px;
	height: auto;
}
.trash{
	background-color:red;
	opacity: 0.9;
}

.left-sidebar table td {
	padding: 0px;
	text-align: center;
}

div.left table {
border: none;
}
div.left-sidebar .left {
height: 460px;
overflow: auto;
border: 1px solid #aaa;
}

.right table td, #table-template table td {
	text-align: center;
	border: 1px solid #aaa;
}

span.incomplete {
	color: #f00;
	font-weight: bold;
}
span.incomplete.complete {
	color: #06E000;
}

div.button-right {
	text-align: right;
	margin: 20px 10px 10px 0;
}

img.bin {
	float: left;
	width: 95px;
	margin-top: 18px;
}

td.Y1, td.Y2, td.Y3, td.T1, td.T2 {
font-weight: bold;
}

a.view-detail {
	display: block;
	padding: 10px 5px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.hidden {
	visibility: hidden;
}

img.cross {
	cursor:pointer; 
	float: right;  
	margin-right: -4px; 
	margin-top: -6px;
	height:10px;
	width:10px;
}

@media print {
	.left-sidebar , .page-main p, .page-main img, .page-main .button-right, .wrapper.title{
      display: none;
    }
}